# Root level dependencies
/node_modules/

# Client dependencies and build artifacts
/client/node_modules/
/client/dist/
/client/dist-electron/

# Server dependencies and build artifacts
/server/node_modules/
/server/dist/
/server/data/ # Ignore JSON DB fallback data

# Common build directories
/dist/
